services:
  db:
    image: postgres:16
    container_name: EcorideDatabase
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data: